body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#content {
    text-align: left;
}
#articleList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    overflow-wrap: break-word;
    margin: auto;
}
.aLink {
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
    border-radius: 0.5rem ;
    width: 100%;
}

.aLink img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    justify-content: center;
    display: block;
}

.aLink a {
    padding: 5px;
    margin: 5px;
    display: block;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

.linkDesc {
    display: block;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}
.aLink > div {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
#content .para {
    line-height: 1.6;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: justify;
}
